{% extends 'base.html.twig' %}

{% block title %}Edit Entity2{% endblock %}

{% block body %}
    <h1>Edit Entity2</h1>

    {{ include('entity2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entity2_index') }}">back to list</a>

    {{ include('entity2/_delete_form.html.twig') }}
{% endblock %}
