{% extends 'base.html.twig' %}

{% block title %}Entity2 index{% endblock %}

{% block body %}
    <h1>Entity2 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity2 in entity2s %}
            <tr>
                <td>{{ entity2.id }}</td>
                <td>{{ entity2.name }}</td>
                <td>{{ entity2.description }}</td>
                <td>
                    <a href="{{ path('entity2_show', {'id': entity2.id}) }}">show</a>
                    <a href="{{ path('entity2_edit', {'id': entity2.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entity2_new') }}">Create new</a>
{% endblock %}
