{% extends 'base.html.twig' %}

{% block title %}New Entity2{% endblock %}

{% block body %}
    <h1>Create new Entity2</h1>

    {{ include('entity2/_form.html.twig') }}

    <a href="{{ path('entity2_index') }}">back to list</a>
{% endblock %}
