{% extends 'base.html.twig' %}

{% block title %}Entity2{% endblock %}

{% block body %}
    <h1>Entity2</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity2.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity2.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity2.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entity2_index') }}">back to list</a>

    <a href="{{ path('entity2_edit', {'id': entity2.id}) }}">edit</a>

    {{ include('entity2/_delete_form.html.twig') }}
{% endblock %}
