<form method="post" action="{{ path('entity1_delete', {'id': entity1.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity1.id) }}">
    <button class="btn">Delete</button>
</form>
