{% extends 'base.html.twig' %}

{% block title %}Edit Entity1{% endblock %}

{% block body %}
    <h1>Edit Entity1</h1>

    {{ include('entity1/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entity1_index') }}">back to list</a>

    {{ include('entity1/_delete_form.html.twig') }}
{% endblock %}
