{% extends 'base.html.twig' %}

{% block title %}Entity1 index{% endblock %}

{% block body %}
    <h1>Entity1 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity1 in entity1s %}
            <tr>
                <td>{{ entity1.id }}</td>
                <td>{{ entity1.name }}</td>
                <td>{{ entity1.description }}</td>
                <td>
                    <a href="{{ path('entity1_show', {'id': entity1.id}) }}">show</a>
                    <a href="{{ path('entity1_edit', {'id': entity1.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entity1_new') }}">Create new</a>
{% endblock %}
