{% extends 'base.html.twig' %}

{% block title %}New Entity1{% endblock %}

{% block body %}
    <h1>Create new Entity1</h1>

    {{ include('entity1/_form.html.twig') }}

    <a href="{{ path('entity1_index') }}">back to list</a>
{% endblock %}
