{% extends 'base.html.twig' %}

{% block title %}Entity1{% endblock %}

{% block body %}
    <h1>Entity1</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity1.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity1.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity1.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entity1_index') }}">back to list</a>

    <a href="{{ path('entity1_edit', {'id': entity1.id}) }}">edit</a>

    {{ include('entity1/_delete_form.html.twig') }}
{% endblock %}
